/**
* @author  Mario Lorenz, www.buchsuite.de
* @license https://www.gnu.org/licenses/gpl-2.0.html GNU General Public License, version 2 (one or other)
*/

@font-face {
    font-family: "buchsuite-iconset";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("buchsuite-iconset"),
         url("#{$buchsuite-iconset-path}/buchsuite-iconset.woff2") format("woff2"),
         url("#{$buchsuite-iconset-path}/buchsuite-iconset.woff") format("woff");
}

