/**
* @author  Mario Lorenz, www.buchsuite.de
* @license https://www.gnu.org/licenses/gpl-2.0.html GNU General Public License, version 2 (one or other)
*/

[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "buchsuite-iconset" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    content: attr(data-icon);
}

.icon {
    &-award:before {
        content: "\61";
    }
    &-bs-basic-logo:before {
        content: "\62";
    }
    &-award-batch:before {
        content: "\63";
    }
    &-award-trophy:before {
        content: "\64";
    }
    &-extract:before {
        content: "\65";
    }
    &-newsletter:before {
        content: "\66";
    }
    &-ebook:before {
        content: "\67";
    }
    &-angle-right:before {
        content: "\68";
    }
    &-angle-left:before {
        content: "\69";
    }
    &-angle-double-right:before {
        content: "\6a";
    }
    &-angle-up:before {
        content: "\6b";
    }
    &-angle-down:before {
        content: "\6c";
    }
    &-tablet:before {
        content: "\6d";
    }
    &-book:before {
        content: "\6e";
    }
    &-headphone:before {
        content: "\6f";
    }
    &-search:before {
        content: "\70";
    }
    &-preorder:before {
        content: "\71";
    }
}
