/**
* @author  Mario Lorenz, www.buchsuite.de
* @license https://www.gnu.org/licenses/gpl-2.0.html GNU General Public License, version 2 (one or other)
*/

[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "buchsuite-iconset" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    content: attr(data-icon);
}

.icon-award:before {
    content: "\61";
}
.icon-bs-basic-logo:before {
    content: "\62";
}
.icon-award-batch:before {
    content: "\63";
}
.icon-award-trophy:before {
    content: "\64";
}
.icon-extract:before {
    content: "\65";
}
.icon-newsletter:before {
    content: "\66";
}
.icon-ebook:before {
    content: "\67";
}
.icon-angle-right:before {
    content: "\68";
}
.icon-angle-left:before {
    content: "\69";
}
.icon-angle-double-right:before {
    content: "\6a";
}
.icon-angle-up:before {
    content: "\6b";
}
.icon-angle-down:before {
    content: "\6c";
}
.icon-tablet:before {
    content: "\6d";
}
.icon-book:before {
    content: "\6e";
}
.icon-headphone:before {
    content: "\6f";
}
.icon-search:before {
    content: "\70";
}
.icon-preorder:before {
    content: "\71";
}
